<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jumper.angel.app.subscription.mapper.NewsInformationCommentsMapper" >

  <resultMap id="BaseResultMap" type="com.jumper.angel.app.subscription.entity.NewsInformationComments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="news_information_id" property="newsInformationId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_focus_image" property="isFocusImage" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, parent_id, news_information_id, user_id, content, is_focus_image, add_time, praise
  </sql>
  
  <!-- 通过新闻ID查询评论信息 -->
  <select id="findCommentsByNewsInformationId" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	select
  		<include refid="Base_Column_List"></include>
  	from news_information_comments where news_information_id=#{newsId} order by add_time desc limit #{beginIndex}, #{everyPage}
  </select>
  
  <!-- 通过新闻ID获取总记录数 -->
  <select id="findCount" resultType="Integer" parameterType="Integer">
  	select
  		count(1)
  	from news_information_comments where news_information_id=#{value}
  </select>
  
  <!-- 添加评论 -->
  <insert id="addComments" parameterType="com.jumper.angel.app.subscription.entity.NewsInformationComments">
  	insert into news_information_comments (parent_id, news_information_id, 
      user_id, content, is_focus_image, 
      add_time, praise)
    values (#{parentId,jdbcType=INTEGER}, #{newsInformationId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{isFocusImage,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{praise,jdbcType=INTEGER})
  </insert>
  
  <!-- 通评论ID查询评论信息 -->
  <select id="findCommentsById" resultMap="BaseResultMap" parameterType="Integer">
  	select 
  		<include refid="Base_Column_List"></include>
  	from news_information_comments where id=#{value}
  </select>
  
  <!-- 更新评论 -->
  <update id="updateComments" parameterType="com.jumper.angel.app.subscription.entity.NewsInformationComments">
  	update news_information_comments set praise=#{praise} where id=#{id}
  </update>
  
</mapper>