<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jumper.angel.app.search.mapper.HospitalModuleHostMapper" >

  <resultMap id="BaseResultMap" type="com.jumper.angel.app.search.model.po.HospitalModuleHost" >
  	 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="module_num" property="moduleNum" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, hospital_id, host, module_num, remark
  </sql>
  
  <!-- 查询定制化模块是否开通 -->
  <select id="findHospitalModuleHost" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include>
  		from hospital_module_host where hospital_id=#{hospitalId} and module_num=#{moduleNum}
  </select>
  
  
</mapper>